<div class="jumbotron bg-success p-5">
    <h1 class="display-3 text-dark">Welcome to the Tea Shop.</h1>
  </div>
<div class="container">
  <h1 class="text-dark">Our selection of fine teas</h1>
  <div class="card-group teasList" *ngIf="teasList">
    <div class="card text-center tea" *ngFor="let tea of teasList">
      <h5 class="card-title bg-dark p-2"><a href="/tea/{{tea._id}}" class="text-success">{{tea.name}}</a></h5>
      <p class="card-text text-dark p-2"><em>~{{tea.kind}}~</em></p>
    </div>
  </div>
</div>
<br>
<div class="container" *ngIf="teasList">
    <h5>Find tea by type:</h5>
    <select class="form-control" name="unit" [(ngModel)]="kindSelection">
        <option *ngFor="let kind of kindsList"  [value]="kind">{{kind}}</option>
    </select>  
</div>
<div class="container">
  <app-by-type [kindSelection] = "kindSelection" [teasList] = "teasList"></app-by-type>
</div>