<div class="container" *ngIf="kindSelection">
    <h3 class="text-dark" >Our selection of {{kindSelection}}s </h3>
    <div class="card-group teasList">
      <div class="card text-center tea" style="display: flex; flex-wrap: wrap; flex-direction: row" *ngFor="let tea of teasList">
        <div class="card text-center tea" *ngIf="tea.kind == kindSelection">
            <h5 class="card-title bg-dark p-2"><a href="/tea/{{tea._id}}" class="text-success">{{tea.name}}</a></h5>
            <p class="card-text text-dark p-2"><em>~{{tea.kind}}~</em></p>
        </div>
      </div>
    </div>
</div>